	.btn {
  background-color:#033955; 
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.btn:hover {
  background-color: gray; 
  color:black;
}

	.btnSend {
  background-color:#033955; 
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.btnSend:hover {
  background-color: gray;
  color:black;
}


	.btnUpload {
		
  background-color:#033955; 
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.btnUpload:hover {
  background-color: gray; 
  color:black;
}
